body {
  margin: 0;
}

.grid {
  height: 100vh;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.box {
  border-radius: 0.4rem;
}

.one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: red;
}

.two {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: green;
}

.three {
  grid-column: 1 / 2;
  grid-row: 4 / 6;
  background: blue;
}

.four {
  grid-column: 2 / 4;   
  grid-row: 1 / 4;      
  background: orange;
}

.five {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  background: yellow;
}

.six {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  background: purple;
}

.seven {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  background: violet;
}

.eight {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background: gold;
}

.nine {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  background: maroon;
}

.eleven {
  grid-column: 3 / 4;
  grid-row: 4 / 6;
  background: pink;
}

.ten {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
  background: peachpuff;
}